<div class="container-fluid">
  <div class="my-3">
    <button class="btn btn-primary" (click)="addUser()">Add User</button>
    <button class="btn btn-danger" (click)="removeUser()">Remove User</button>
  </div>

  {{ _id }}

  <div class="my-1">
    <div class="alert alert-danger" *ngIf="errMsg">
      {{ errMsg }}
    </div>
    <div class="alert alert-success" *ngIf="success">Successful API call</div>
  </div>

  <table class="table table-striped" *ngIf="users$ | async">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
